.App {
  margin:20px;
}
html {
  --button-height: 32px;
  --font-size: 14px;
  --button-bg: white;
  --button-active-bg: #eee;
  --border-radius: 4px;
  --color: #333;
  --border-color: #999;
  --border-color-hover: #666;
}
.box{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:10px;
  padding:10px;
  border:1px solid black;
}